@import url("../css/reset.css");

body {
  font-family: Arial, sans-serif;
  background-color: rgb(205, 39, 58);
  color: #000; /* Text color */
  margin: 0;
  padding: 0;
  background-size: cover;
}

.background {
  background-color:  rgb(205, 39, 58);
  padding: 90px;
  border-radius: 90px;
  box-shadow: 0 0 90px rgba(0, 0, 0, 0.1);
}

.websitename {
  font-size: 2em;
  font-style: normal;
  color: #f5d20a;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background-color: rgb(205, 39, 58);
  position: relative;
  margin-top: 20px;
  background-image: url('images/image.webp');
  background-size: contain; /* Proportional scaling */
  background-position: center;
  background-repeat: no-repeat;
  width: 90vw; /* Adjusted width */
  height: 90vh; /* Adjusted height */
  border: 10px solid rgb(205, 39, 58); /* Added red border */
  margin: 5vh auto; /* Added margin for better positioning */
}

.container2 {
  display: flex;
  flex-direction: column;
  background-color: #f5d20a;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#recipeModal {
  width: 80vw; /* Adjusted width */
  justify-content: center;
  background-color: #0a25f5;
  color: #000;
  font-size: 1.2em;
  font-weight: bold;
  display: none;
  position: fixed;
  top: 20%;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate(-50%, -20%);
  background-color: white; 
  color: black; 
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #B62626;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000; 
  max-width: 80vw;
  max-height: 70vh;
  overflow-y: auto; 
}

.container1 img {
  width: 100%; /* Responsive image */
  height: auto; /* Maintain aspect ratio */
}

*#rotatingGlobe {
  position: absolute;
  top: 30%; 
}

#rotatingGlobe {
  width: 400px;
  height: 400px;
  cursor: move;
}

#rotatingGlobe img {
  width: 100%; /* Responsive image */
  height: auto; /* Maintain aspect ratio */
}
#rotatingGlobe:hover {
  animation: rotate 10s linear infinite;
}


/* @media (max-width: 600px) {}
  .background {
    background-image: url('images/Coffeebeans.jpg');
    background-color: rgb(210, 112, 14);
    padding: 90px;
    border-radius: 90px;
    box-shadow: 0 0 90px rgba(0, 0, 0, 0.1);

    #rotatingGlobe {
        width: 90%; /* Larger for small screens 
        height:auto;*/
    /*
    .container1 {
        width: 100%; /* Take up full width 
        height: auto; /* Let content flow naturally 
    }
    #recipeModal {
        top: 10%; /* Closer to the top for mobile 
        max-width: 90vw;
        max-height: 60vh; /* Ensure modal doesn't dominate */
  
